nohup.out
build/
cmake-build-debug/
.idea/
.dir-locals.el
*.pyc
.vscode/*
!.vscode/*.json
.vs
obj/
*.csproj.user
*.vspx
*.psess
msbuild.log
*.orig
vcxproj.user
compile_commands.json
.cquery_cached_index/
node_modules
paket-files
project.lock.json
*.code-workspace
